body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;  
}

#root{
    width: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgb(205, 211, 211);
    text-align: center;
}
button{
    margin-right: 20px;
    width: 70px;
    height: 30px;
    border-radius: 10px;
}